[Unit]
Description=HexagonRPC Service

[Service]
ExecStart=/usr/local/bin/hexagonrpcd -f /dev/fastrpc-adsp -d adsp -s
Restart=on-failure

[Install]
WantedBy=multi-user.target
