[Unit]
Description=IIO Sensor Proxy Service
After=network.target hexagonrpc.service
Requires=hexagonrpc.service

[Service]
ExecStart=/usr/libexec/iio-sensor-proxy
Restart=on-failure

[Install]
WantedBy=multi-user.target
